* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  background: #ffffff;
  text-align: center;
}

body {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  padding: 15px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 135px;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.popup {
  background: #447491;
  height: 246px;
  width: 304px;
  border-radius: 25px;
  cursor: pointer;
}

.card{
  display: flex;
  align-content: center;
  align-items: center;
  height: 700px;
  width: 1000px;
  position: absolute;
  z-index: 2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (1, 1fr);
  height: 700px;
  width: 100%;
}

.grid .left-side {
  background: #295677;
  width: 500px;
  height: 700px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 450px;
  padding: 30px;
}

.right-side h1,
h2 {
  text-align: left;
  padding:10px 0;
}
.card p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #555555;
  text-align: left;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  margin-top: 150px;

  background-color: #fff;
  border: 4px solid #295677;
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #295677;
}

.btn:hover{
  background-color:#295677;
  color: #fff;
  transition: ease-in-out 50ms;


}

.btn-close {
  transform: translate(430px, 0px);
  background: #fff;
  border-radius: 50%;
  width: 26px;
  padding: 5px;
  
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #4343438c;

  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.rating {
  display: flex;
  flex-direction: row;
}
.rating  span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 20px;
  color: #ffd700;

}

.rating  p{
padding:0 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #555555;
}
.rating  span:hover:before,
.rating  span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
